.w1200{
    width :1200px;
    margin:0 auto;
    min-width:1200px;
}
.shengluehao{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;    
}
.turn_to_list_p_sy {
  display: flex;
  color: #888;
  align-items: center;
  font-size: 16px;
  background-color: #f7f7f7;
  padding: 10px 20px;
  box-shadow: 1px 1px 4px #ccc;
  margin 10px 0
  .iconfont {
    font-size: 12px;
    padding-right: 6px;
  }

  .col_nav {
    padding: 0 6px;
    color: #888;

    &:hover {
      color: #2172ce;
      text-decoration: none;
    }
  }
}